<div *ngIf="widgetList.length > 1; else singleWidget">
  <div class="container-fluid">
    <div class="widget-container-small">
      <div class="widget">
        <div class="widget-heading-tabs">
          <span class="btn-group pull-right">
            <button id="{{pausePlaySymbol}}-btn" class="btn-default btn-sm active"
                    (click)="pauseQualityView()"><i
              class="fa fa-{{pausePlaySymbol}}"></i></button>
            <button id="next-btn" class="btn-default btn-sm active"
                    (click)="animateQualityView(true)"><i class="fa fa-fast-forward"></i></button>
          </span>
          <span>
          <ul class="nav nav-tabs">
            <li class="auth-modal-tab" *ngFor="let tab of widgetList; index as i;"
                (click)="tabToggle(i)"
                ng-class="tab.title == widgetTabActive ? 'active' : ''">
              <a class="textColor-Performance" data-toggle="tab">{{tab.title}}</a>
            </li>
          </ul>
          </span>
        </div>
        <div class="widget-heading-tabs">
        <span class="widget-settings-icon clickable pull-right fa fa-trash"
                    (click)="openConfirm()"></span>
        <span class="widget-settings-icon clickable pull-right fa fa-cog"
              (click)="openConfig(widgetTabActive)"></span>
        </div>
        <div *ngFor="let widget of widgetList; index as i;">
          <div class="widget-body" [hidden]="!(i == widgetTabActive)">
            <div class="build-view">
              <!-- widget content -->
              <ng-template appWidget></ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #singleWidget>
  <div class="widget-container-small">
    <div class="widget">
      <div class="widget-heading">
        <span>{{title}}</span>
        <span class="widget-settings-icon clickable pull-right fa fa-trash"
              (click)="openConfirm()"></span>
        <span class="widget-settings-icon clickable pull-right fa fa-cog"
              (click)="openConfig(0)"></span>
      </div>
      <div class="widget-body">
        <div class="build-view">
          <!-- widget content -->
          <ng-template appWidget></ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>
