<div *ngIf="widgetList.length > 1; else singleWidget">
  <div class="container-fluid">
    <div class="widget-container-small" *ngFor="let tab of widgetList; index as i;">
      <div class="widget">
        <div class="widget-heading">
          <span>{{tab.title}}</span>
          <span class="widget-settings-icon clickable pull-right fa fa-trash"
                (click)="openConfirm()"></span>
          <span class="widget-settings-icon clickable pull-right fa fa-cog"
                (click)="openConfig(i)"></span>
        </div>
        <div class="widget-body">
          <div class="build-view">
            <!-- widget content -->
            <ng-template appWidget></ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #singleWidget>
  <div class="widget-container-small">
    <div class="widget">
      <div class="widget-heading">
        <span>{{title}}</span>
        {{widgetComponents[0] }}
        <span class="widget-settings-icon clickable pull-right fa fa-trash"
              (click)="openConfirm()"></span>
        <span class="widget-settings-icon clickable pull-right fa fa-cog"
              (click)="openConfig(0)"></span>
      </div>
      <div class="widget-body">
        <div class="build-view">
          <!-- widget content -->
          <ng-template appWidget></ng-template>
        </div>
      </div>
    </div>
  </div>
</ng-template>
