@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/";


// LOCAL COLOR VARIABLES FOR THIS THEME
// ========================================
$white: #fff;
$chart-green: #05ac45;
$chart-red: #d8514d;
$bg-replacement: rgba(0, 0, 0, .75);
$gray:                   #52575C;
$gray-light:             #7A8288;
$gray-lighter:           #999;

$dash-image-path: "assets/img/";

// PROJECT VARIABLES
// ========================================
////** Unit-less `line-height` for use in components like buttons.
//$line-height-base:        1.428571429; // 20/14
////** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    20px;
$border-radius-base:        4px;


// DASH VARIABLES
// ========================================
$dash-text: #152131;
$dash-dashboard-bg: #060610;
$dash-dashboard-text: rgba(255, 255, 255, .8);
$dash-dashboard-text-hover: $white;

$dash-dashboard-text-light: rgba(180, 180, 180, .7);

$dash-divider: rgba(255, 255, 255, .50);
$dash-divider-light: rgba(0, 0, 0, .1);
$dash-widget-section-highlight: rgba(255, 255, 255, .15);

$dash-header-bg: $white;
$dash-header-text: $dash-text;
$dash-widget-heading-border: rgba(255, 255, 255, .5);
$dash-widget-sub-heading-border: rgba(255, 255, 255, .25);

$dash-modal-bg: #ececec;
$dash-modal-heading-text: $dash-text;
$dash-modal-heading-border: rgba(0, 0, 0, .35);
$dash-modal-divider: rgba(0, 0, 0, .25);
$dash-modal-icon-text: rgba(0, 0, 0, .5);

$dash-detail-heading-text: $dash-text;
$dash-detail-heading-border: rgba(0, 0, 0, .35);
$dash-detail-icon-text: rgba(0, 0, 0, .5);
$dash-detail-divider: rgba(0, 0, 0, .25);

$dash-widget-alert-bg: #ff5d56;
$dash-widget-alert-text: #000;
$dash-widget-alert-heading-border: rgba(0, 0, 0, .5);

$dash-status-pass: rgb(0, 204, 75);
$dash-status-warn: rgb(255, 189, 53);
$dash-status-fail: rgb(255, 93, 86);
$dash-status-fail-border: #000;
$dash-status-fail-text: #333;
$dash-status-ignore: $gray-500;
$dash-status-ignore-border: darken($dash-status-ignore, 30%);
$dash-status-ignore-text: contrast($dash-status-ignore);

$dash-status-alert-pass: #00a33c;
$dash-status-alert-fail: #cc4a45;
$dash-status-alert-ignore: $dash-status-ignore;
$dash-status-alert-warn: $dash-status-warn;

$dash-state-config-text: rgba(255, 255, 255, .6);
$dash-state-config-text-hover: rgba(255, 255, 255, .8);
$dash-state-config-bg: rgba(255, 255, 255, .15);
$dash-state-config-bg-hover: rgba(255, 255, 255, .30);

$ct-series-colors: $chart-green,
$chart-red,
$dash-status-warn,
$white;
$dash-chart-alt-color: #dffaff;
$dash-chart-alt-fill: #65b7c9;
$dash-chart-halo-color: $white;
$dash-chart-area-opacity: 1;
$dash-chart-point-size: 5px;
$dash-chart-grid: $dash-divider;

$state-danger-text: $dash-status-alert-fail;
$state-success-text: $dash-status-alert-pass;


$dash-text-standard-size: 1.1;
$dash-text-standard-line-height: 1.2;

// when widget is in alert state
$dash-widget-alert-bg: $danger;
$dash-widget-alert-text: #a94442;
$dash-widget-alert-heading-border: #a94442;

// widget settings
$dash-widget-border-radius: .5em;
$dash-widget-heading-text: $dash-dashboard-text;

// widget when in configure state
$dash-state-config-bg: $dash-widget-section-highlight;
$dash-state-config-bg-hover: $dash-state-config-bg;
$dash-state-config-text: $dash-dashboard-text;
$dash-state-config-text-hover: $dash-state-config-text;



// WIDGET HEADER VARIABLES
// ========================================

// Basics of a navbar
$navbar-height:                    50px;
$navbar-margin-bottom:             $line-height-computed;
$navbar-border-radius:             $border-radius-base;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;

$navbar-default-color:             #777;
$navbar-default-bg:                #f8f8f8;
$navbar-default-border:            darken($navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color:                #777;
$navbar-default-link-hover-color:          #333;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         #555;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd;
$navbar-default-toggle-icon-bar-bg:        #888;
$navbar-default-toggle-border-color:       #ddd;


//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      lighten($gray-light, 15%);
$navbar-inverse-bg:                         #222;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%);

// Inverted navbar links
$navbar-inverse-link-color:                 lighten($gray-light, 15%);
$navbar-inverse-link-hover-color:           #fff;
$navbar-inverse-link-hover-bg:              transparent;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-disabled-color:        #444;
$navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:          #fff;
$navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333;
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        #333;


//=== Shared nav styles
$nav-link-padding:                          10px 15px;
$nav-link-hover-bg:                         $gray-lighter;

$nav-disabled-link-color:                   $gray-light;
$nav-disabled-link-hover-color:             $gray-light;

//== Tabs
$nav-tabs-border-color:                     #ddd;

$nav-tabs-link-hover-border-color:          $gray-lighter;

$nav-tabs-active-link-hover-bg:             $body-bg;
$nav-tabs-active-link-hover-color:          $gray;
$nav-tabs-active-link-hover-border-color:   #ddd;

$nav-tabs-justified-link-border-color:            #ddd;
$nav-tabs-justified-active-link-border-color:     $body-bg;

//== Pills
$nav-pills-border-radius:                   $border-radius-base;
$nav-pills-active-link-hover-bg:            $component-active-bg;
$nav-pills-active-link-hover-color:         $component-active-color;
